.section {
    background: #9DBEBB;
    width: 1440px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.section__rectangle1 {
    display: flex;
    justify-content: flex-start;
    width: 954px;
    height: 594px;
    background: #BE0909;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
}

.section__form {
    display: flex;
    max-height: 594px;
    justify-content: flex-start;
    align-content: flex-start ;
    padding: 64px 65px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px
}

.label {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FEFFFF;
}

input {
    background-color: #BE0909;
    border-bottom: 1px solid #9DBEBB;
    border-top: none;
    border-left: none;
    border-right: none;
}

input:hover {
    transform: scale(1.1);
}

::placeholder {
    color: #FDFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.3em;
    color: #FDFFFF
}

#name, #message {
    width: 100%;
}

#email, #message_regarding {
    width: 50%;
}

button {
    background-color: #468189;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 13px 25px;
    border-radius: 40px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    border: none;
    display: flex;
    align-self: center;
    margin-top: 25px;
}

button:hover {
    transform: scale(1.2);
}

.section__rectangle2 {
    position: absolute;
    width: 345px;
    height: 594px;
    left: 852px;
    top: 153px;
    background: #FFB039;
}

.section__img {
    z-index: 1;
    transform: translate(-185px, 55px);
}

img {
    width: 663px;
    height: 603px;    
}

.thank_you {
    display: flex;
    flex-direction: column;
}